# Dependencies
node_modules
npm-debug.log

# Build output
dist
build

# Development files
.env
.env.local
.env.development
.env.test

# IDE
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose*.yml

# Docs
*.md
LICENSE

# Tests
__tests__
*.test.jsx
*.test.js
coverage

